/* 登录页面、手动登录页面、忘记密码页面的背景图 */
.view.flex.flex-direction-row.page.focuscontainer-x.view-startup-login .viewScroller.scrollFrameY.flex.flex-grow.virtualScrollerScrollContainer.emby-scroller.scrollY.overflowYScroll.focuscontainer-y.navout-up::after,
.view.flex.flex-direction-column.scrollFrameY.flex-grow.emby-scroller.page.scrollY.overflowYScroll.focuscontainer-x.focuscontainer-y.navout-up.view-startup-manuallogin::after,
.view.flex.flex-direction-column.scrollFrameY.flex-grow.emby-scroller.page.scrollY.overflowYScroll.focuscontainer-x.focuscontainer-y.navout-up.view-startup-forgotpassword::after {
  content: "";
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 0;
  background-position: center !important; /* 图居中 */
  background-size: cover !important; /* 自缩放 */
  background-repeat: no-repeat !important; /* 防重复 */
}
/* 横屏图片 */
@media screen and (orientation: landscape) {
  .view.flex.flex-direction-row.page.focuscontainer-x.view-startup-login .viewScroller.scrollFrameY.flex.flex-grow.virtualScrollerScrollContainer.emby-scroller.scrollY.overflowYScroll.focuscontainer-y.navout-up::after,
  .view.flex.flex-direction-column.scrollFrameY.flex-grow.emby-scroller.page.scrollY.overflowYScroll.focuscontainer-x.focuscontainer-y.navout-up.view-startup-manuallogin::after,
  .view.flex.flex-direction-column.scrollFrameY.flex-grow.emby-scroller.page.scrollY.overflowYScroll.focuscontainer-x.focuscontainer-y.navout-up.view-startup-forgotpassword::after {
    background-image: url(https://api.imlazy.ink/img);
  }
}
/* 竖屏图片 */
@media screen and (orientation: portrait) {
  .view.flex.flex-direction-row.page.focuscontainer-x.view-startup-login .viewScroller.scrollFrameY.flex.flex-grow.virtualScrollerScrollContainer.emby-scroller.scrollY.overflowYScroll.focuscontainer-y.navout-up::after,
  .view.flex.flex-direction-column.scrollFrameY.flex-grow.emby-scroller.page.scrollY.overflowYScroll.focuscontainer-x.focuscontainer-y.navout-up.view-startup-manuallogin::after,
  .view.flex.flex-direction-column.scrollFrameY.flex-grow.emby-scroller.page.scrollY.overflowYScroll.focuscontainer-x.focuscontainer-y.navout-up.view-startup-forgotpassword::after {
    background-image: url(https://api.imlazy.ink/img-phone);
  }
}

/* 选择の背景 */
@media screen and (orientation: landscape) {
    .view.flex.flex-direction-row.page.focuscontainer-x.view-startup-login 
    .scrollSlider.flex-grow.padded-top-page.padded-left.padded-left-page.padded-right.scrollSliderY{
        background: #5a5a5a78;
        backdrop-filter: blur(10px); 
        z-index: 1;
    }
}
@media screen and (orientation: portrait) {
    .view.flex.flex-direction-row.page.focuscontainer-x.view-startup-login 
    .scrollSlider.flex-grow.padded-top-page.padded-left.padded-left-page.padded-right.scrollSliderY{
        background: #5a5a5a78;
        backdrop-filter: blur(10px); 
        z-index: 1;
    }
}


/* 手动登录页面 */
.view.flex.flex-direction-column.scrollFrameY.flex-grow.emby-scroller.page.scrollY.overflowYScroll.focuscontainer-x.focuscontainer-y.navout-up.view-startup-manuallogin 
.scrollSlider.flex-grow.flex-direction-column.padded-left.padded-right.padded-top-page.padded-bottom-page.scrollSliderY{
    position: fixed;
    top: 8%; 
    bottom: 8%; 
    left: 10%;
    width: calc(100% - 20%);
    background: #5a5a5a78;
    backdrop-filter: blur(10px); 
    border-radius: 10px !important;
    z-index:2;
}
/* 干掉谷歌那破密码工具白背景 */
input:-webkit-autofill , textarea:-webkit-autofill, select:-webkit-autofill {
    -webkit-text-fill-color: #ffffff !important;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    background-color:transparent;
    background-image: none;
    transition: background-color 50000s ease-in-out 0s;
}
input {
    background-color:transparent;
}
/* 账号密码输入框 & 文字位置 */
.view.flex.flex-direction-column.scrollFrameY.flex-grow.emby-scroller.page.scrollY.overflowYScroll.focuscontainer-x.focuscontainer-y.navout-up.view-startup-manuallogin 
.emby-input.emby-input-largerfont.emby-input-smaller{
  height:3.5em;
  padding-left: 5em;
  border-radius:8px;
}
.view.flex.flex-direction-column.scrollFrameY.flex-grow.emby-scroller.page.scrollY.overflowYScroll.focuscontainer-x.focuscontainer-y.navout-up.view-startup-manuallogin 
.inputLabel{
    position:fixed;
    margin-left:12px;
    margin-top:14px;
    font-weight:bold;
}
/* 按钮位置 */
.view.flex.flex-direction-column.scrollFrameY.flex-grow.emby-scroller.page.scrollY.overflowYScroll.focuscontainer-x.focuscontainer-y.navout-up.view-startup-manuallogin 
.raised.block.paperSubmit.emby-button,
.view.flex.flex-direction-column.scrollFrameY.flex-grow.emby-scroller.page.scrollY.overflowYScroll.focuscontainer-x.focuscontainer-y.navout-up.view-startup-manuallogin 
.raised.block.buttonCancel.emby-button{
  display: inline-block;
  width:45%;
  margin-top:1em !important;
  margin-left:3%;
}




/* 忘记密码页面 */
.view.flex.flex-direction-column.scrollFrameY.flex-grow.emby-scroller.page.scrollY.overflowYScroll.focuscontainer-x.focuscontainer-y.navout-up.view-startup-forgotpassword 
.scrollSlider.flex-grow.flex-direction-column.padded-left.padded-right.padded-top-page.padded-bottom-page.scrollSliderY{
    position: fixed;
    top: 8%; 
    bottom: 8%; 
    left: 10%;
    width: calc(100% - 20%);
    background: #5a5a5a78;
    backdrop-filter: blur(10px); 
    border-radius: 10px !important;
    z-index:2;
}
/* 账号密码输入框 & 文字位置 */
.view.flex.flex-direction-column.scrollFrameY.flex-grow.emby-scroller.page.scrollY.overflowYScroll.focuscontainer-x.focuscontainer-y.navout-up.view-startup-forgotpassword 
.emby-input.emby-input-largerfont.emby-input-smaller{
  height:3.5em;
  padding-left: 5em;
  border-radius:8px;
}
.view.flex.flex-direction-column.scrollFrameY.flex-grow.emby-scroller.page.scrollY.overflowYScroll.focuscontainer-x.focuscontainer-y.navout-up.view-startup-forgotpassword 
.inputLabel{
    position:fixed;
    margin-left:12px;
    margin-top:14px;
    font-weight:bold;
}
/* 按钮位置 */
.view.flex.flex-direction-column.scrollFrameY.flex-grow.emby-scroller.page.scrollY.overflowYScroll.focuscontainer-x.focuscontainer-y.navout-up.view-startup-forgotpassword 
.raised.submit.block.emby-button,
.view.flex.flex-direction-column.scrollFrameY.flex-grow.emby-scroller.page.scrollY.overflowYScroll.focuscontainer-x.focuscontainer-y.navout-up.view-startup-forgotpassword 
.raised.cancel.block.btnCancel.emby-button{
  display: inline-block;
  width:45%;
  margin-top:1em !important;
  margin-left:3%;
}